PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_database_password_here
DB_NAME=PathMinded_DB
DB_SSL=false

JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=1d

PIPELINE_SERVER_URL=http://localhost:3100

SWAGGER_ROUTE=/docs
SWAGGER_TITLE="PathMinded API"
SWAGGER_DESCRIPTION="PathMinded API Documentation"
SWAGGER_VERSION=1.0.0
